@model ViewModel.CompetitionDetailsViewModel
@{
    ViewBag.Title = "CompetitionDetails";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
    var count = 0;
    var firstpart = "";
    var Midpart = "";
    var Endpart = "";
    /////////////////////////////////////
    string FirstPlaceTeamName = ""; string SecondPlaceTeamName = ""; string ThirdPlaceTeamName = "";
   


}

<div class="hero-4 ">

    <div class="hero-4__content bg-black rounded-top-5 section-space-top">
        <div class="section-space-top section-space-sm-bottom">
            <div class="section-space-sm-bottom">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-10">
                            <h2 class="mb-6 text-center clr-white fw-extrabold animate-line-3d" style="perspective: 400px;">
                                @{

                                    foreach (var i in Model.CompetitonDetails.FirstOrDefault().CompetitionTitle)
                                    {
                                        if(i == ' ')
                                        {
                                            count++;
                                        }
                                    }
                                    if(count == 0)
                                    {
                                        firstpart = Model.CompetitonDetails.FirstOrDefault().CompetitionTitle;
                                    }else if(count == 1)
                                    {
                                        int flag = 0;
                                        foreach (var i in Model.CompetitonDetails.FirstOrDefault().CompetitionTitle)
                                        {
                                            if(i != ' ' && flag == 0)
                                            {
                                                firstpart += i;
                                            }
                                            else if (i == ' ')
                                            {
                                                flag = 1;
                                            }
                                            else
                                            {
                                                Endpart += i;
                                            }

                                        }

                                    }
                                    else if (count >= 2)
                                    {
                                        int flag = 0;
                                        int count2 = 1;
                                        foreach (var i in Model.CompetitonDetails.FirstOrDefault().CompetitionTitle)
                                        {
                                            if (i != ' ' && flag == 0)
                                            {
                                                firstpart += i;

                                            }
                                            else if(i == ' ' && flag == 0)
                                            {
                                                flag = 1 ;
                                            }
                                            else if( count2!=count ){
                                                Midpart += i;
                                                if(i == ' ')
                                                {
                                                    count2++;
                                                }
                                            }
                                            else if(count2 == count)
                                            {
                                                Endpart += i;
                                            }

                                        }

                                    }


                                }
                                <span class="d-inline-block gradient-flow gradient-flow--start"> @firstpart </span> <!--Creation &amp; Customer Experience --> @Midpart <span class="d-inline-block gradient-flow gradient-flow--end"><!-- Platform --> @Endpart</span>
                            </h2>

                            <p class="mb-0 text-center fw-extrabold ff-1 fs-18 clr-white animate-line-3d" style="perspective: 400px;">

                                    <span class="clr-secondary-key fw-bold mb-2 d-inline-block">@Model.CompetitonDetails.FirstOrDefault().CompetitionVersion</span>
                                
                                <span class="clr-grad-6 clr-secondary-key fw-bold mb-2 " style="margin: 0 auto;display: table;">@Model.CompetitonDetails.FirstOrDefault().ClubHistoryID</span>
                            </p>
                            <ul class="list list-row gap-5 mt-6" style="margin: auto;padding: 0;display: table;">
                                <li class="fs-14 clr-neutral-80 d-flex gap-2">
                                    <i class="bi bi-calendar2-date"></i> <!--Updated On October--> @Model.CompetitonDetails.FirstOrDefault().CompetitionDateTime
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="top-shadow section-space-sm-y rounded-4 bg-black position-relative z-1 overflow-hidden fadeIn_bottom" style="translate: none;rotate: none;scale: none;transform: translate(0px, 0px);opacity: 1;width: 800px;/* padding: 100px; */margin: 0 auto;padding-right: 120px;padding-left: 120px;">
                            <div class="row g-4 align-items-center" style="
">

                                <div class="col-md-6 col-xl-7" style="
    width: -webkit-fill-available;
">
                                    <div class="text-center">
                                        <img src="/img/@Model.CompetitonDetails.FirstOrDefault().MainCompetitonImage" alt="image" class="img-fluid" style="
">
                                    </div>
                                </div>
                            </div>
                            <img src="/img/hero-4-content-shape.webp" alt="image" class="w-100 h-100 position-absolute inset-0 z-n1 pointer-none">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="why-choose-ai-section section-space-sm-y">
    <div class="section-space-sm-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-xl-6">
                    <h3 class="mb-0 text-center fw-extrabold clr-neutral-90 animate-line-3d" style="perspective: 400px;"> The First Three Winners 🏆  </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row g-4">
            <div class="col-12">
                <div class="choose-section-1" style="
    margin-top: -250px;
">
                    <div class="row g-4 justify-content-center" style="
    padding: 150px;
">
                        <div class="col-lg-4 d-xl-none">
                            <div class="d-none d-lg-inline-block">
                                <img src="/img/choose-section-1-img-2.png" alt="image" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="d-inline-block position-relative z-1 text-center">
                                <img src="/img/choose-section-1-shape-2.png" alt="image" class="img-fluid choose-section-1__shape choose-section-1__shape--2 fadeIn_bottom" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                                <img src="/img/choose-section-1-shape-3.png" alt="image" class="img-fluid choose-section-1__shape choose-section-1__shape--3 fadeIn_bottom" style="translate: none; rotate: none; scale: none; transform: translate(-50%, 0%); opacity: 1;">
                                <img src="/img/choose-section-1-shape-4.png" alt="image" class="img-fluid choose-section-1__shape choose-section-1__shape--4 fadeIn_bottom" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">

                                @{

                                    foreach (var i in Model.CompetitionTeams)
                                    {
                                        if (i.CompetitionsTeamMembers.FirstOrDefault().Place == 2)
                                        {
                                            <img src="/img/@i.CompetitionsTeamMembers.FirstOrDefault().TeamPicture" alt="image" class="img-fluid choose-section-1__img choose-section-1__img--1 d-none d-xl-block fadeIn_bottom" style="translate: none; rotate: none; scale: none; transform: translate(-450.985px, -186.547px) rotate(-8.99973deg); opacity: 1;">
                                        }
                                        else if (i.CompetitionsTeamMembers.FirstOrDefault().Place == 1)
                                        {
                                            <img src="/img/@i.CompetitionsTeamMembers.FirstOrDefault().TeamPicture" alt="image" class="img-fluid fadeIn_bottom" style="translate: none;rotate: none;scale: none;transform: translate(0px, 0px);opacity: 1;margin-bottom: 200px;">

                                        }
                                        else if (i.CompetitionsTeamMembers.FirstOrDefault().Place == 3)
                                        {
                                            <img src="/img/@i.CompetitionsTeamMembers.FirstOrDefault().TeamPicture" alt="image" class="img-fluid choose-section-1__img choose-section-1__img--2 d-none d-xl-block fadeIn_bottom" style="translate: none; rotate: none; scale: none; transform: translate(453.556px, -186.798px) rotate(8.99973deg); opacity: 1;">

                                        }
                                    }

                                }


                            </div>
                        </div>
                        <div class="col-lg-4 d-xl-none">
                            <div class="d-none d-lg-inline-block">
                                <img src="/img/choose-section-1-img-3.png" alt="image" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- ******************************************************************** -->

            @{
                
                    foreach (var i in Model.CompetitionTeams)
                    {
                        if (i.CompetitionsTeamMembers.FirstOrDefault().Place == 1)
                        {
                            FirstPlaceTeamName = i.CompetitionsTeamMembers.FirstOrDefault().CompetitionsTeamName;
                        }
                        else if (i.CompetitionsTeamMembers.FirstOrDefault().Place == 2)
                        {
                            SecondPlaceTeamName = i.CompetitionsTeamMembers.FirstOrDefault().CompetitionsTeamName;
                        }
                        else if (i.CompetitionsTeamMembers.FirstOrDefault().Place == 3)
                          {
                            ThirdPlaceTeamName = i.CompetitionsTeamMembers.FirstOrDefault().CompetitionsTeamName;
                        }
                    }
                
            }

            <!-- ******************************************************************** -->




            <div class="col-md-4 col-xl-3">
                <div class="px-lg-6 py-lg-8 rounded-3 fadeIn_bottom" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                    <div style="color: gold;font-size: x-large;" class="d-grid place-content-center w-14 h-14 bg-neutral-variant-30 bg-opacity-5 rounded mb-6">
                        #2
                    </div>
                    <h6 class="clr-neutral-90 mb-2 reveal-text" style=""> @SecondPlaceTeamName </h6>
                    <p class="mb-0 clr-neutral-80 fs-14 fw-medium animate-text-from-right" style="">

                        <ul style="
    color: #f8f9fa;
" >
                            @foreach (var i in Model.CompetitionTeams)
                            {
                                if (i.CompetitionsTeamMembers.FirstOrDefault().Place == 2)
                                {
                                    foreach (var ii in i.CompetitionsTeamMembers)
                                    {
                                        <li>@ii.FullName</li>
                                    }
                                }
                            }
                        </ul>
                    
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-xl-6">
                <div class="px-lg-6 py-lg-8 rounded-3 choose-section-1__card fadeIn_bottom" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                    <div style="color: gold;font-size: x-large;" class="d-grid place-content-center w-14 h-14 bg-neutral-variant-30 bg-opacity-5 rounded mb-6">
                        #1
                    </div>
                    <h6 class="clr-neutral-90 mb-2 reveal-text" style=""> @FirstPlaceTeamName </h6>
                    <p class="mb-0 clr-neutral-80 fs-14 fw-medium animate-text-from-right" style="">

                        <ul style="
    color: #f8f9fa;
">
                            @foreach (var i in Model.CompetitionTeams)
                            {
                                if (i.CompetitionsTeamMembers.FirstOrDefault().Place == 1)
                                {
                                    foreach (var ii in i.CompetitionsTeamMembers)
                                    {
                                        <li>@ii.FullName</li>
                                    }
                                }
                            }
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-xl-3">
                <div class="px-lg-6 py-lg-8 rounded-3 fadeIn_bottom" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                    <div style="color: gold;font-size: x-large;" class="d-grid place-content-center w-14 h-14 bg-neutral-variant-30 bg-opacity-5 rounded mb-6">
                        #3
                    </div>
                    <h6 class="clr-neutral-90 mb-2 reveal-text" style=""> @ThirdPlaceTeamName </h6>
                    <p class="mb-0 clr-neutral-80 fs-14 fw-medium animate-text-from-right" style="">
                    <ul style="
    color: #f8f9fa;
" >
                            @foreach (var i in Model.CompetitionTeams)
                            {
                                if(i.CompetitionsTeamMembers.FirstOrDefault().Place == 3)
                                {
                                    foreach (var ii in i.CompetitionsTeamMembers)
                                    {
                                        <li>@ii.FullName</li>
                                    }
                                }
                            }
                        </ul> </p>
                </div>
            </div>
        </div>
    </div>
</div>

@if(Model.ListImages != null)
{
    <div class="container">
        <div class="row g-4">
           
            <div class="col-md-12">
                <div class="row g-4">
                    @foreach(var i in Model.ListImages)
                    {
                        <div class="col-md-4">
                            <img src="/img/@i.ImageName" alt="image" class="img-fluid rounded-1 w-100 img-fadeIn-2" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1 ; object-fit: cover;width: 450px !important;height: 450px;">
                        </div>
                    }
                    

                </div>
            </div>
            
        </div>
    </div>
}

@if (Model.CompetitonEditions.Count() > 1)
{
    <section class="breadcrumb-section" style="margin-top: -100px;">
        <div class="breadcrumb-section-inner">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-5 col-xl-8">
                        <div class="text-center">
                            <div class="d-inline-flex align-items-center py-2 px-4 bg-info-10 bg-opacity-3 rounded-1">
                                <span class="fs-12 clr-white">Details</span>
                            </div>
                            <h2 class="h3 fw-bold clr-neutral-90 mt-4"> Know More About This Competition: </h2>
                        </div>
                    </div>
                </div>
                <div class="mt-10">
                    <div class="row">
                        <div class="col-lg-4">
                            <nav class="todo-nav style-two">
                                <ul class="list gap-5 nav todo-nav__menu" role="tablist">
                                    <li>
                                        <a href="#aiImgGenerateTab" class="nav-link link todo-nav__link active" data-bs-toggle="tab" data-bs-target="#" aria-selected="true" role="tab"> Editions </a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-8">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="aiImgGenerateTab" role="tabpanel">
                                    <div class="accordion custom-accordion custom-accordion--faq mb-8" id="faqAccordionOne">
                                        <div class="p-4 p-md-6 rounded-4 bg-black border border-neutral-10">
                                            <div class="row g-3">
                                                @foreach (var i in Model.CompetitonEditions)
                                                {
                                                    if (i.CompetitionID == Model.CompetitonDetails.SingleOrDefault().CompetitionID)
                                                    {

                                                    }
                                                    else
                                                    {
                                                        <div class="col-md-6 col-xl-12">
                                                            <div class="d-flex flex-column flex-sm-row flex-md-column flex-xxl-row gap-6 gradient-card top-shadow rounded-3 p-4 p-xl-5 p-xxl-6 ">
                                                                <div class="rounded-3 overflow-hidden flex-shrink-0">
                                                                    <img style="    width: 200px;    " src="/img/@i.MainCompetitonImage" alt="image" class="img-fluid">
                                                                </div>
                                                                <div class="flex-grow-1">
                                                                    <h5 class="mb-2">
                                                                        <a href="blog-details.html" class="link d-block clr-neutral-90 :clr-primary-key"> @i.CompetitionTitle </a>
                                                                    </h5>
                                                                    <p class="mb-5 clr-neutral-80 fs-14">
                                                                        @for (int ii = 0; ii < 250; ii++)
                                                                        {
                                                                            @i.SmallDescription[ii]
                                                                            ;
                                                                        }
                                                                        ...
                                                                    </p>
                                                                    <a href="/Home/ClubView?ClubID=@i.CompetitionID" class="link d-inline-block py-2 px-6 rounded-pill bg-neutral-variant-30 :bg-primary-key clr-white fw-bold"> View More </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }


                                                }

                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
}



