@model ViewModel.SearchPageViewModel
@{
    ViewBag.Title = "SearchPage";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}



<!--
    Popular S
-->

<section class="breadcrumb-section">
    
    <div class="container">
        <div class="row">
            <div class="col-xxl-7 col-xl-8">
                <div class="d-inline-flex align-items-center py-2 px-4 bg-info-10 bg-opacity-3 rounded-1">
                    <a href="index-7.html" class="link fs-12 clr-white">Home</a>
                    <span class="fs-12 clr-white">-</span>
                    <span class="fs-12 clr-white"> Search </span>
                </div>
                <h2 class="h3 fw-bold clr-neutral-90 mt-4">Search Results</h2>
            </div>
        </div>
    </div>
    <img src="/img/breadcrumb-shape-top.png" alt="image" class="img-fluid breadcrumb-shape breadcrumb-shape-top">
    <img src="/img/breadcrumb-shape-left.png" alt="image" class="img-fluid breadcrumb-shape breadcrumb-shape-left">
    <img src="/img/breadcrumb-shape-right.png" alt="image" class="img-fluid breadcrumb-shape breadcrumb-shape-right">
    <img src="/img/breadcrumb-shape-line-left.png" alt="image" class="img-fluid breadcrumb-shape breadcrumb-shape-line-left">
    <img src="/img/breadcrumb-shape-line-right.png" alt="image" class="img-fluid breadcrumb-shape breadcrumb-shape-line-right">
</section>

<!--
    Popular E
-->
<div class="section-space-sm-top section-space-bottom position-relative z-index-1">
    <div class="container">
        <div class="row gy-5">
            <div class="row gy-4">
                <div class="col-lg-8">
                    <ul class="nav nav-underline nav-bordered" id="popularTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link clr-neutral-80 active" id="p1-tab" data-bs-toggle="tab" data-bs-target="#p1-tab-pane" type="button" role="tab" aria-controls="p1-tab-pane" aria-selected="true">Clubs</button>
                        </li>
                      
                        <li class="nav-item" role="presentation">
                            <button class="nav-link clr-neutral-80" id="p3-tab" data-bs-toggle="tab" data-bs-target="#p3-tab-pane" type="button" role="tab" aria-controls="p3-tab-pane" aria-selected="false" tabindex="-1">Competitions</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link clr-neutral-80" id="p4-tab" data-bs-toggle="tab" data-bs-target="#p4-tab-pane" type="button" role="tab" aria-controls="p4-tab-pane" aria-selected="false" tabindex="-1">Workshops</button>
                        </li>
                      
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                
                <div class="row gy-4" id="div1">
                    @foreach(var i in Model.listClubs)
                    {
                        <div class="col-12">
                            <div class="p-5 p-sm-8 bg-neutral-4 rounded-4">
                                <a href="blog-details.html" class="d-block rounded-top-start-4 rounded-top-end-4 overflow-hidden">
                                    <img src="/img/@i.ClubImageName" alt="image" class="img-fluid w-100 h-100 object-fit-cover">
                                </a>
                                <ul class="list list-row gap-5 mt-10">
                                    <li class="fs-14 clr-neutral-80 d-flex gap-2">
                                        <i class="bi bi-calendar2-date"></i> @i.LastUpdateDateTime
                                    </li>
                                    <li class="fs-14 clr-neutral-80"> (15) Comments </li>
                                </ul>
                                <h3 class="h4 mt-2">
                                    <a href="/Home/ClubView?ClubID=@i.ClubsUpdateId" class="d-block clr-neutral-90 link fw-bold max-text-24 :clr-primary-key">@i.PerviewName</a>
                                </h3>
                                <p class="clr-neutral-80 mt-6">@i.ClubInfo</p>
                                <a href="/Home/ClubView?ClubID=@i.@i.ClubsUpdateId" class="d-inline-block py-4 px-8 clr-white bg-primary-key :bg-primary-30 rounded-2 link mt-6">Explore More</a>
                            </div>
                        </div>
                    }
                    
                  
                </div>

                <div class="row gy-4" id="div2" style="display:none">
                    @foreach (var i in Model.listCompetitions)
                    {
                        <div class="col-12">
                            <div class="p-5 p-sm-8 bg-neutral-4 rounded-4">
                                <a href="blog-details.html" class="d-block rounded-top-start-4 rounded-top-end-4 overflow-hidden">
                                    <img src="/img/@i.MainCompetitonImage" alt="image" class="img-fluid w-100 h-100 object-fit-cover">
                                </a>
                                <ul class="list list-row gap-5 mt-10">
                                    <li class="fs-14 clr-neutral-80 d-flex gap-2">
                                        <i class="bi bi-calendar2-date"></i> @i.CompetitionDateTime
                                    </li>
                                    <li class="fs-14 clr-neutral-80"> (15) Comments </li>
                                </ul>
                                <h3 class="h4 mt-2">
                                    <a href="/Home/CompetitionDetails?CompetitonID=@i.CompetitionID" class="d-block clr-neutral-90 link fw-bold max-text-24 :clr-primary-key">@i.CompetitionTitle</a>
                                </h3>
                                <p class="clr-neutral-80 mt-6">@i.SmallDescription</p>
                                <a href="/Home/CompetitionDetails?CompetitonID=@i.CompetitionID" class="d-inline-block py-4 px-8 clr-white bg-primary-key :bg-primary-30 rounded-2 link mt-6">Explore More</a>
                            </div>
                        </div>
                    }


                </div>



                <div class="row gy-4" id="div3" style="display:none">
                    @foreach (var i in Model.listWorkShopWithClubs)
                    {
                        <div class="col-12">
                            <div class="p-5 p-sm-8 bg-neutral-4 rounded-4">
                                <a href="blog-details.html" class="d-block rounded-top-start-4 rounded-top-end-4 overflow-hidden">
                                    <img src="/img/@i.ImageName" alt="image" class="img-fluid w-100 h-100 object-fit-cover">
                                </a>
                                <ul class="list list-row gap-5 mt-10">
                                    <li class="fs-14 clr-neutral-80 d-flex gap-2">
                                        <i class="bi bi-calendar2-date"></i> @i.WorkShopDateTime
                                    </li>
                                    <li class="fs-14 clr-neutral-80"> (15) Comments </li>
                                </ul>
                                <h3 class="h4 mt-2">
                                    <a href="/Home/WorkShopDetails?WorkShopID=@i.WorkShopID" class="d-block clr-neutral-90 link fw-bold max-text-24 :clr-primary-key">@i.Title</a>
                                </h3>
                                <p class="clr-neutral-80 mt-6">@i.SmallDescription</p>
                                <a href="/Home/WorkShopDetails?WorkShopID=@i.WorkShopID" class="d-inline-block py-4 px-8 clr-white bg-primary-key :bg-primary-30 rounded-2 link mt-6">Explore More</a>
                            </div>
                        </div>
                    }


                </div>
                
            </div>
            <div class="col-lg-4">
                <div class="bg-neutral-4 py-5 px-4 py-sm-10 px-sm-8 rounded-1">
                    <h4 class="clr-neutral-90 fw-extrabold fs-24 mb-6">Search</h4>
                    <form class="d-flex bg-neutral-12 rounded-top-start-2 rounded-bottom-start-2" method="get" action="/Home/SearchPage">
                        <input type="search" name="searchTerm" placeholder="Serach..." class="form-control newsletter-1__input h-13 bg-transparent border border-neutral-24 clr-neutral-60 rounded-0 rounded-top-start-2 rounded-bottom-start-2">
                        <button type="submit" class="px-5 bg-primary-key clr-white border-0 rounded-top-end-2 rounded-bottom-end-2"><i class="bi bi-search"></i></button>
                    </form>
                 
                   
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /Hero 1 -->
<script type="text/javascript">
    console.log("ddd");
    const button1 = document.getElementById("p1-tab");
    const button2 = document.getElementById("p3-tab");
    const button3 = document.getElementById("p4-tab");

    const div1 = document.getElementById("div1");
    const div2 = document.getElementById("div2");
    const div3 = document.getElementById("div3");

    button1.addEventListener("click", function () {
        div1.style.display = "block";
        div2.style.display = "none";
        div3.style.display = "none";
    });
    button2.addEventListener("click", function () {
        div1.style.display = "none";
        div2.style.display = "block";
        div3.style.display = "none";
    });
    button3.addEventListener("click", function () {
        div1.style.display = "none";
        div2.style.display = "none";
        div3.style.display = "block";
    });
</script>
