@model ViewModel.LayoutViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="FitHub">
    <meta name="keywords" content="bootstrap 5, saas, landing page">
    <meta name="author" content="Themetags">
    <title>ASPU - FIThub</title>
    <link rel="stylesheet" href="/css/fonts/ff-1.css">
    <link rel="stylesheet" href="/css/fonts/ff-3.css">
    <link rel="stylesheet" href="/css/fonts/bootstrap-icons.css">
    <link rel="icon" href="/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/plugins.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
</head>

<body class="bg-black">
    <!-- Custom Cursor  -->
    <div class="custom-cursor">
        <div>
            <span></span>
            <svg class="custom-cursor__img" width="119" height="45" viewBox="0 0 119 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1130_4828)">
                    <path d="M10.9627 22.9931L12.2909 16.1687C12.603 14.5633 14.1573 13.0107 15.7632 12.7011L21.5757 11.5778C23.181 11.2681 23.2911 10.4355 21.8214 9.719L2.95694 0.527836C1.48667 -0.188687 0.764833 0.470432 1.34397 1.99934L9.34853 23.1305C9.92766 24.6594 10.6501 24.5984 10.9627 22.9931Z" fill="url(#paint0_linear_1130_4828)" />
                </g>
                <rect x="16" y="16.2383" width="103" height="28" rx="4" fill="url(#paint1_linear_1130_4828)" />
                <defs>
                    <linearGradient id="paint0_linear_1130_4828" x1="-58.0002" y1="-33.2617" x2="25.4638" y2="2.23919" gradientUnits="userSpaceOnUse">
                        <stop offset="1" stop-color="#F49959" />
                    </linearGradient>
                    <linearGradient id="paint1_linear_1130_4828" x1="-53.2743" y1="34.7382" x2="110.992" y2="27.6664" gradientUnits="userSpaceOnUse">
                        <stop offset="1" stop-color="#F49959" />
                    </linearGradient>
                    <clipPath id="clip0_1130_4828">
                        <rect width="24" height="24" fill="white" transform="translate(0 0.238281)" />
                    </clipPath>
                </defs>
            </svg>
        </div>
        <div></div>
    </div>
    <!-- /Custom Cursor  -->
    <!-- preloader -->
    <div class="preloader">
        <div class="preloader__img">
            <img src="/img/preloader-img.png" alt="image">
        </div>
    </div>
    <!-- preloader End -->
    <!-- Header -->
    <header class="header header--1 header--fixed">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="menu d-lg-flex justify-content-lg-between align-items-lg-center py-3 py-lg-0">
                        <div class="d-flex align-items-center justify-content-between">
                            <a href="/" class="logo link d-inline-flex align-items-center flex-shrink-0">
                                <img src="/img/logo-light.png" alt="logo" class="img-fluid object-fit-contain"> <p style="
    color: white;
    margin: 10px;
    font-family: emoji;
    font-size: 23px;
">FIT hub</p>
                            </a>
                            <button class="menu-toggle w-10 h-10 p-0 border-0 lh-1 bg-primary-50 clr-neutral-100 :clr-neutral-100 transition :bg-primary-300 rounded flex-shrink-0 d-lg-none order-sm-3 fs-24">
                                <i class="bi bi-list"></i>
                            </button>
                        </div>
                        <div class="menu-nav d-flex align-items-lg-center flex-column flex-lg-row flex-grow-1 gap-4 pb-4 pb-lg-0 rounded">
                            <ul class="list list-lg-row mx-lg-auto">
                                <li class="menu-list">
                                    <a href="#" class="link menu-link has-sub"> Clubs </a>
                                    <ul class="list menu-sub">
                                        <!-- ********************************************************* -->
                                        @foreach(var i in Model.clubs)
                                        {
                                            
                                            <li class="menu-sub-list">
                                                <a href="/Home/ClubView?ClubID=@i.ClubsUpdateId" class="link menu-sub-link gap-4">
                                                    <span class="d-none d-lg-inline-block">
                                                        <img src="/img/@i.ClubLogoImageName" alt="image" class="img-fluid" width="30px">
                                                    </span> @i.ClubName
                                                </a>
                                            </li>
                                        }
                                        <!-- ********************************************************* -->
                                    </ul>
                                </li>
                                <li class="menu-list">
                                    <a href="#" class="link menu-link has-sub"> Competitions </a>
                                    <ul class="list menu-sub" style="width: max-content;">
                                        <!-- ********************************************************* -->
                                        @foreach(var i in Model.competitions)
                                        {
                                            <li class="menu-sub-list">
                                                <a href="/Home/CompetitionDetails?CompetitonID=@i.LastVersion" class="link menu-sub-link gap-4">
                                                    <span class="d-none d-lg-inline-block">
                                                        <img src="/img/@i.CompetitionImageName" alt="image" class="img-fluid" width="30px">
                                                    </span> @i.CompetitionName
                                                </a>
                                            </li>
                                        }
                                        <!-- ********************************************************* -->
                                  
                                    </ul>
                                </li>
                                <li class="menu-list">
                                    <a href="#" class="link menu-link has-sub"> Workshops </a>
                                    <ul class="list menu-sub" style="
    width: max-content;
">
                                        <!-- ********************************************************* -->
                                        
                                        @foreach (var i in Model.clubs)
                                        {

                                            <li class="menu-sub-list">
                                                <a href="/Home/ClubsWorkshop?ClubID=@i.ClubID" class="link menu-sub-link gap-4">
                                                    <span class="d-none d-lg-inline-block">
                                                        <img src="/img/@i.ClubLogoImageName" alt="image" class="img-fluid" width="30px">
                                                    </span> @i.ClubName - Workshops
                                                </a>
                                            </li>
                                        }
                                        <!-- ********************************************************* -->
                                    </ul>
                                </li>
                                
                            
                                <li class="menu-list">
                                    <a href="#" class="link menu-link has-sub"> Upcomings </a>
                                    <ul class="list menu-sub" style="    width: max-content;">
                                        <!-- ********************************************************* -->
                                        

                                            <li class="menu-sub-list">
                                            <a href="/Home/UpCommingEvents?EventCategory=Competitions" class="link menu-sub-link gap-4">
                                                     Upcmming Competitions
                                                </a>
                                            </li> 
                                            <li class="menu-sub-list">
                                            <a href="/Home/UpCommingEvents?EventCategory=Workshops" class="link menu-sub-link gap-4">
                                                    Upcoming Workshops
                                                </a>
                                            </li>  <li class="menu-sub-list">
                                            <a href="/Home/UpCommingEvents?EventCategory=Events" class="link menu-sub-link gap-4">
                                                    Upcoming Events
                                                </a>
                                            </li>
                                        
                                        <!-- ********************************************************* -->
                                    </ul>
                                </li>
                                <li class="menu-list">
                                    <a href="#" class="link menu-link has-sub">
                                        More
                                    </a>
                                    <ul class="list menu-sub">
                                        <li class="menu-sub-list">
                                            <a href="/" class="link menu-sub-link gap-4">
                                                TEDx ASPU 2024
                                            </a>
                                        </li>
                                        <li class="menu-sub-list">
                                            <a href="/" class="link menu-sub-link gap-4">
                                                Hult Prize 2024
                                            </a>
                                        </li>
                                        <li class="menu-sub-list">
                                            <a href="/" class="link menu-sub-link gap-4">
                                                ELO 2024
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="menu-list">
                                    <a href="pricing.html" class="link menu-link"> FIT Events </a>
                                </li>
                                
                                
                                
                                
                            </ul>
                            <ul class="list list-lg-row gap-4 gap-lg-6">
                                <li class="menu-list mx-4 mx-lg-0">
                                    <a href="login.html" class="animated-border-btn link d-inline-flex justify-content-center rounded overflow-hidden position-relative z-1">
                                        <span class="d-inline-block transition bg-neutral-10 :bg-primary-key clr-white px-6 py-2 fw-bold text-center rounded"> Login </span>
                                    </a>
                                </li>
                                <li class="menu-list mx-4 mx-lg-0">
                                    <a href="register.html" class="gradient-btn-1 position-relative z-1 link d-inline-flex justify-content-center px-4 py-2 rounded fw-bold text-center"> Get Started </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- /Header -->
    @RenderBody()

    <!-- Footer Section -->
    <footer class="footer-inner section-space-sm-top section-space-xsm-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-2__content position-relative z-1 section-space-sm-y bg-black border border-neutral-variant-30 rounded-5 px-4 px-xsm-6 px-xl-12">
                        <div class="row g-4 gy-5 gy-lg-0">
                            
                            <div class="col-lg-8" style="margin : 0 auto">
                                <div class="row g-4 gy-5 gy-lg-0">
                                    <div class="col-md-3">
                                        <h6 class="mb-5 fs-18 clr-neutral-90"> Top Clubs </h6>
                                        <ul class="list gap-4">
                                            <!-- ********************************************************* -->
                                            @foreach (var i in Model.clubs )
                                            {

                                                <li>
                                                    <a href="featured.html" class="link d-inline-block clr-neutral-80 :clr-primary-key">   @i.ClubName</a>

                                                    
                                                </li>
                                            }
                                            <!-- ********************************************************* -->
                                        </ul>
                                    </div>
                                    
                                    <div class="col-md-3">
                                        <h6 class="mb-5 fs-18 clr-neutral-90"> Top Competitions </h6>
                                        <ul class="list gap-4">
                                            <!-- ********************************************************* -->
                                            @foreach (var i in Model.competitions)
                                            {
                                                <li>
                                                    <a href="featured.html" class="link d-inline-block clr-neutral-80 :clr-primary-key">   @i.CompetitionName </a>

                                                    
                                                </li>
                                            }
                                            <!-- ********************************************************* -->
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <h6 class="mb-5 fs-18 clr-neutral-90"> Quick Menu </h6>
                                        <ul class="list gap-4">
                                            <li>
                                                <a href="featured.html" class="link d-inline-block clr-neutral-80 :clr-primary-key"> FIT Events </a>
                                            </li>
                                            <li>
                                                <a href="login.html" class="link d-inline-block clr-neutral-80 :clr-primary-key"> Sign Up  </a>
                                            </li>
                                            <li>
                                                <a href="pricing.html" class="link d-inline-block clr-neutral-80 :clr-primary-key"> Sign In </a>
                                            </li>
                                            <li>
                                                <a href="register.html" class="link d-inline-block clr-neutral-80 :clr-primary-key"> Main Page </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <h6 class="mb-5 fs-18 clr-neutral-90"> Socials Links </h6>
                                        <ul class="list gap-4">
                                            <li>
                                                <a href="https://www.facebook.com" class="link d-inline-block clr-neutral-70 :clr-primary-key"> Facebook </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com" class="link d-inline-block clr-neutral-70 :clr-primary-key"> Twitter </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com" class="link d-inline-block clr-neutral-70 :clr-primary-key"> Instagram </a>
                                            </li>
                                            <li>
                                                <a href="https://discord.com/" class="link d-inline-block clr-neutral-70 :clr-primary-key"> Discord </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-space-sm-top">
                            <div class="row g-4 align-items-center">
                                <div class="col-lg-3">
                                    <p class="mb-0 clr-white fw-medium fs-14 text-lg-start text-center">
                                        Copyright &copy; 2023 <a href="#" class="link d-inline-block clr-white">FIT hub</a>
                                    </p>
                                </div>
                                
                                <div class="col-lg-3 text-lg-end text-center">
                                    <a href="#" class="link w-12 h-12 bg-neutral-4 clr-white d-inline-flex justify-content-center align-items-center rounded-2">
                                        <i class="bi bi-arrow-up"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src="/img/footer-2-shape-1.png" alt="image" class="img-fluid d-none d-md-block pointer-none position-absolute start-0 bottom-0 z-n1">
                        <img src="/img/footer-2-shape-2.png" alt="image" class="img-fluid d-none d-md-block pointer-none position-absolute end-0 bottom-0 z-n1">
                    </div>
                </div>
            </div>
        </div>
        <img src="/img/footer-inner-shape-left.png" alt="image" class="img-fluid footer-inner-shape footer-inner-shape-left">
        <img src="/img/footer-inner-shape-right.png" alt="image" class="img-fluid footer-inner-shape footer-inner-shape-right">
        <img src="/img/footer-inner-shape-line-left.png" alt="image" class="img-fluid footer-inner-shape footer-inner-shape-line-left">
        <img src="/img/footer-inner-shape-line-right.png" alt="image" class="img-fluid footer-inner-shape footer-inner-shape-line-right">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/app.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- /Footer Section -->
    </body>
</html>
